trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  PKG_NAME: whoAMI-scanner
  DEB_VERSION: 0.0.0~rolling
  DIST: redcloud
  COMPONENT: main
  GOBIN:  '$(system.defaultWorkingDirectory)/bin'

stages:
- stage: Build
  displayName: Build & Package Debian
  jobs:
  - job: Debian
    displayName: Build Debian Package
    strategy:
      matrix:
        amd64:
          GOARCH: amd64

    steps:
    - checkout: self

    - script: |
        mkdir -p '$(GOBIN)'
        echo '##vso[task.prependpath]$(GOBIN)'
      displayName: 'Set up the Go workspace'

    - script: |
        ls -la $(system.defaultWorkingDirectory)
      displayName: 'List files in the working directory'

    - script: |
        go version
        go mod tidy
        go mod download
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi
        go build -v .
      workingDirectory: '$(system.defaultWorkingDirectory)'
      displayName: 'Get dependencies, then build'

    - script: |
        set -euo pipefail

        mkdir -p pkg/DEBIAN
        mkdir -p pkg/usr/bin

        cp whoAMI-scanner pkg/usr/bin/whoAMI-scanner
        chmod 0755 pkg/usr/bin/whoAMI-scanner

        cat <<EOF > pkg/DEBIAN/control
        Package: $(PKG_NAME)
        Version: $(DEB_VERSION)
        Section: utils
        Priority: optional
        Architecture: amd64
        Maintainer: RedCloud Team <redcloud@cyberwarfare.live>
        Description: Scan AWS accounts for untrusted AMIs 
        EOF

        dpkg-deb --build pkg \
          $(PKG_NAME)_$(DEB_VERSION)_amd64.deb
      displayName: Create Debian Package

    - script: |
        set -euo pipefail

        mkdir -p repo/pool/$(COMPONENT)
        mkdir -p repo/dists/$(DIST)/$(COMPONENT)/binary-amd64

        mv $(PKG_NAME)_*.deb repo/pool/$(COMPONENT)/

        cd repo
        dpkg-scanpackages pool /dev/null \
          > dists/$(DIST)/$(COMPONENT)/binary-amd64/Packages

        gzip -kf dists/$(DIST)/$(COMPONENT)/binary-amd64/Packages

        cat <<EOF > dists/$(DIST)/Release
        Origin: whoAMI-scanner
        Label: whoAMI-scanner
        Suite: $(DIST)
        Codename: $(DIST)
        Architectures: amd64
        Components: $(COMPONENT)
        Description: whoAMI Scanner APT Repository
        EOF
      displayName: Prepare APT Repository Metadata
      condition: ne(variables['Build.Reason'], 'PullRequest')

    - task: CopyFilesOverSSH@0
      displayName: Upload APT Repo
      inputs:
        sshEndpoint: Prod-APT-Repo-VM
        sourceFolder: '$(system.defaultWorkingDirectory)/repo'
        contents: '**'
        targetFolder: '/opt/apt-repo'
        overwrite: false
        cleanTargetFolder: false
